/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of personalized CSS */

.side{
	float: left;
}

#poem {
	width: 50%;
	text-align: center;

}

#poem p {
	line-height: 2.15em;
}

#painting {
	width: 50%;
	text-align: center;
}

* {
	font-family: Georgia;
	font-size: 1.25em;
}
header{
	background-color: #000000;
	color: #ffffff;
	padding-top: 2em;
}

header p {
	font-family: Georgia;
	font-size: 1.25em;
	line-height:1.5em;
	padding: 1.5em;
	text-align: center;
}

div {
	padding-top: 2em;
	padding-bottom: 2em;
}

h1 {
	font-size: 3em;
	text-align: center;
	padding: 0.25em;
	padding-bottom: .01em
}

h2 {
	font-size: 1.5em;
	padding: 10px;
	text-align: center;
}

h3 {
	font-size: 1.25em;
	padding: 10px;
	padding-bottom: 25px;
	color: #6f7072;
}

article {
	font-size: 1em;
	text-align: left;
	line-height: 1.5em;

}

#copyright {
	text-align: right;
	padding: 1em;
}

footer {
	clear: both;
	padding-top: 1em;
	background-color: #000000;
	color: #dfdfdf;
	padding-left: 1em;
}

a {
	color: #c7c7c7;
}