body {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #999;
    font-size: 18px;
    font-family: Verdana, sans-serif;
}
img  {
    width:  725px;
    height: 525px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p {
    font-size: 18px;
    font-family: Verdana, sans-serif;
}
