body {
    max-width: 1024px;
    margin: auto;
    background-color: grey;
}
header, footer {
    background-color: tan;
    margin: 0;
}
header {
    padding-top: 0.67em;
    padding-bottom: 0;
}
main {
    background-color: white;
}
footer {
    padding-top: 1em;
    padding-bottom: 1em;
}
#name {
    margin-bottom: 0;
}
#job_descr {
    margin-top: 0;
}

/*
width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #999;
	font-size: 62.5%;
    */
