strong {
    color:green;
    font-size: 50px;
}

header {
    text-align: center;
}

article {
    font-size: 20px;
    text-align: center;
}

header {
    font-size: 20px;
    color: blue;
}
body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #999;
	font-size: 100%;
}
