body {
    max-width: 1024px;
    margin: 0 auto;
    background-color: lightgrey;
}

h1 {
    font-family: Arial;
    font-size: 32px;
}

p {
    font-family: Arial;
    font-size: 16px;
}

h3 {
    font-family: Arial;
    font-size: 20px;
}

.lesson_para {
    background-color: darkgrey;
    margin-left: 80px;
}

#parital {
    font-style: italic;
}

figcaption {
    font-family: Arial;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

footer {
    text-align: right;
}

section {
    margin: 20px 20px;
    padding: 10px 20px;
    border: 1px solid black;
}

header {
    margin-left: 80px;
}

#endpara {
    margin-left: 80px;
}

img {
    width: 100%;
}

.imgframe {
    background: #FFFFFF;
    padding: 4px;
    border: 1px solid black;
}
