body {
    background-color: #000;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    color:#FFFEF3;
    text-align: center;
  	background-color:#233543;
    margin-top: -15px;
  	padding-top:2px;
  	padding-bottom:15px;
    width: 100%;
}
header h1{
    font-size: 3em;
    text-align: center;
}
header h2{
    color: #fffef3;
  	text-align:center;
  	margin-top:-15px;
  	margin-bottom:35px;
}
header ul {
	list-style:none;
}
nav ul li {
	display: inline-block;
	margin-right: auto;
  margin-left:auto;
	font-size: 1.2em;
  padding-right:25px;
  padding-left:25px;

}
header a {
 	color:#fffef3;
  display:inline-block;
}
header a:hover {
 	color:#A75D5D;
}
main {
    background-image: url(http://carson.space/Wallpapers/Peppermint-Five.png);
    margin-top:-25px;
  	padding-bottom:35px
}

h3 {
  color:#fffef3;
  font-size:1.3em;
  padding:15px;
  background-color:#282E3C;
  text-align:center;
}
img.fam{
	width:45%;
    margin:10px;
    border: 5px solid;
  	border-color:#405A6B;

}
article p{
 	color:#fffef3;
  float:right;
  width: 35%;
  font-size:1.2em;
  text-align:center;
  padding-top:65px;
  margin-right: 15%;
}

}
article {
    margin:0px;
}

h4 {
 color:#fffef3;
 font-size:1.8em;
 padding: 20px;
 background-color:#282e3c;
 text-align: center;
}

p.lived {
  color:#fffef3;
  text-align:center;
  font-size:1.5em;
  width:50%;
  margin:auto;
}

h5 {
 color:#fffef3;
 font-size: 1.5em;
 margin:35px;
}
img.places{
 width:55%;
 margin:25px;
 border: 5px solid;
 border-color:#a75d5d;
}
p.attribute {
 color:#fffef3;
 margin-top:-25px;
 text-align:center;
}

.s2 p{
   color:#fffef3;
   text-align:center;
   margin-right:50px;
   margin-left:50px;
  }

footer {
   background-color:#233543;
   color:#fffef3;
   padding:25px 25px 25px 25px;
   margin-top:-18px;
  }

  footer a {
   	color:#fffef3;
    display:inline-block;
  }
  footer a:hover {
   	color:#A75D5D;
