body {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #999;
    font-size: 62.5%;
    font-family: monospace;
}

header, main, footer {
    background-color: #ddd;
    font-size: 1.6em;
}

a {
        text-decoration: none;
        color: black;
}

a:hover {
        color: gray;
}

header {
	padding: 1.875em 0;
}

header h1 {
	text-align: center;
}

h1, h2 {
	margin: 0;
}

h1 {
	font-size: 2.5em;
}

main h2 {
	padding: 0.625em 0 0.625em 0.625em;
    text-decoration: underline;
}

.info{
	padding: 1.25em;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 0.9em;
}

section {
	margin: 1.875em 0;
}

section:first-child {
	margin-top: 0;
}

section:last-child {
	margin-bottom: 0;
}

img {
    width: 100%;
    max-width: 100%;
}

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

footer {
	text-align: center;
	padding: 3em;
}

footer p {
	display: inline-block;
}
