body, h1, h2, h3, h4, h5, h6, p, div, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Veranda, Geneva, sans-serif;
	background-color: #000;
}

#divHeader{
	width: 700px;
    margin: 0 auto;
}

#divContent {
    width: 700px;
    padding: 20px;
    height: auto;
    margin: auto;
    margin-top: 10px;

    /* Give the box some space from the edge. */
    background: #333;
    border: 1px solid #000;

    /* Gradients */
    background: -moz-linear-gradient(top, #666, #333, #222);
    background: -webkit-gradient(linear, left top, left bottom, from (#666, to (#222), color-stop(0.5), #333));
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

#divContent h1 {
    font-size: 1.5em;
	color: #777;
	padding-top: 0.8em;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

#divContent p {
	font-size: 0.7em;
	color: #999;
	padding: 0.7em;
	line-height: 1.4em;
    margin: auto;
}

footer p {
    font-size: 0.7em;
    color: #999;
    padding: 0.7em;
    line-height: 0.5em;
    text-align: center;
}
