body {
  background-color: #00cdcd;
}

header {
  text-align: right;
}

footer {
  text-align: center;
}

#name {
  color: blue;
  text-align: center;
  border: 3px solid;
  background-color: orange;
}

img {
  display: block;
  margin: auto;
}

h3 {
  text-align: center;
  font-weight: bold;
}

.txtinfo {
  background-color: #00ffff;
}

table, th, td {
  border: 1px solid orange;
  background-color: #00ffff;
}

table.center {
    margin-left:auto;
    margin-right:auto;
  }

thead > tr:first-child {
  color: blue;
}
