body {
	margin: 0;
	padding: 0px;
	font-family: arial;
	font-size: 12px;
	margin: 0;
	background-color: #f6f5fb;
}

header {
	min-height: 100px;
	background-image: url("images/eyes2.png");
	background-size: 100% 300%;
	background-position: center;
	max-width: 1080px;
	margin: auto;
	text-align: center;
}

.headtex {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #f6f5fb;
	margin: auto;
	width: 300px;
}

h1 { margin: 0px; }

h3 { margin: 0px; }

p { margin: 0px }

main {
	max-width: 1080px;
	min-width: 80%;
	margin: auto;
}


.navlist { margin: 0px; }

.this {
	background-color: #668cff;
	min-height: 450px;
}

.this p {
	font-size: 13px;
	padding: 6px 5px 5px 5px;
}

.this p.this-first {
	font-size: 13px;
	padding: 100px 5px 5px 5px;
}

.that {
	background-color: #00cccc;
	min-height: 450px;
}

.that p.that-first {
	font-size: 13px;
	padding: 100px 5px 5px 9px;
}

.that p {
	font-size: 13px;
	padding: 6px 5px 5px 9px;
}

.khaled {
	background-image: url("images/Khaled.png");
	background-size: Cover;
	right: 0px;
	left: 0px;
	width: 100%;
	height: 50em;
	overflow: hidden;
}

.lifeleft {
	font-size: 16px;
	background-color: #ff80aa;
	float: right;
	right: 0px;
	max-width: 600px;
	min-width: 400px;
	margin: 50px 0px 0px 0px;
}

.lifeof { min-width: 400px;}

.box1 {
	float: left;
	left: 200px;
	right: auto;
	
	text-align: right;
	font-size: 8px;
	padding: 16px;
	
	width: 90px;
	height: 200px;
	background-color: #ff80aa;
	margin: 50px 8px 0 0;
	
}

.box2 {
	float: right;
	right: auto;
	left: 200px;
	
	text-align: right;
	font-size: 8px;
	padding: 16px;
	
	width: 400px;
	height: 90px;
	background-color:  #ff6666;
	
	margin: 50px 0 0 8px;
	
}

.khaled p {
	font-family: impact;
	background-color: #ff80aa;
	font-size: 36px;
	padding: 16px 16px 50px 16px;
}

.kspace {
	margin: 200px 0 0 0;
	right: 200px;
	left: auto;
	
	text-align: right;
	font-size: 8px;
	padding: 16px;
	
	width: 400px;
	height: 90px;
	background-color: #ccff99;
	overflow: hidden;
	
}


footer {
	background-color: #f6f5fb;
	text-align: center;
	margin: auto;
}
	