header {
	text-align: center;
	padding: 50px;
	}

article {
	width: 300px;
	margin: auto;
	text-align: center;
	border: 3px solid red;
	}
	
body {
	background-color: #F4A460;
	}
	
footer.sarcasm {
	text-align: center;
	padding: 50px;
	border: 2px dashed green;
	}
h1 {
	font-weight: bold;
	color: black;
	font-size: 5em;
	}
	
#first {
	color: blue;
	font-size: 3em;
	}