body {
        width: 100%.
        max-width: 1024px;
        margin: 0 auto;
        background-color: #778899;
        font-size: 70%;
}

header {
        background-color: #B0E0E6;
}

main,
footer {
        background-color: #4682B4;
}

header {
        padding: 1.875em 0;
}

header h1 {
        text-align: center;
}

h1, h2, {
        margin: 100px 150px 100px 150px;
}

h1 {
        font-size: 2.5em;
}


main h2 {
        padding: 0.625em 0 0.625em 0.625em;
        font-size: 1.875em;
}

section {
        margin: 2em 0;
}

section:first-child {
        margin-top: 0;
}

section:last-child {
        margin-bottom 0;
}

nav ol {
        text-align: center;
}

nav ol li {
    display: inline-block;
    margin-right: 1em;
    font-size: 1em;
}

p {
        padding: 1.25em;
        font-size: 1em;
}

footer p{
    display: inline-block;
    font-size: 1em;
}

img {
    width: 50%;
    max-width: 50%;
}
